
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(10, 10, 10);
}



.cards{
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    margin: 10px;
    text-align: start;
    contain: content;
    font-size: 10px;
    width: 200px;
}

#cardsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;       
    justify-content: center; 
}

.optionsBtn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.optionsMenu {
    position: absolute;
    z-index: 2000;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.optionsMenu button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    padding: 5px;
}

.optionsMenu button:hover {
    background-color: rgb(10, 10, 10);
}

#optionsDialog{
    background-color: red;
    height: 500px;
    width: 500px;;
}


.cards img {
    width: 100%;
    
}

.cards p {
    color: rgb(106, 114, 130);
}


#btnContainer{
    display: flex;
    gap: 15px;
    justify-content: center;
}

#btnContainer button {
    white-space: nowrap;
}

#nameContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    background-color: rgb(10, 10, 10);
}

#nameContainer h4 {
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
}


#nameContainer img {
    height: 45px;
    width: 45px;
    
}

#imageContainer{

    background-color: rgb(10, 10, 10);
}


#reportsDialog{
  
    flex-direction: column;
}

#fullInformationDialog p {
    color: white;
}

#fullInformationDialog h {
    color: white;

}

#imgModalFullInformation {
    width: 100px;
    
}

#fullInformationDialog {
    height: 500px;
    width: 500px;
    background-color: rgb(10, 10, 10);
}



#optionsMenu{
    
}


#cardsOutPutContainer {
    margin-top: 30px;
}
