body,html{
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
}

#navBar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    
    z-index: 1000;
}

h1{
    
    margin: 0;
    padding: 20px;
}