img{
    height: 100px;
    width: 100px;
}


#modalBreeds{
    width: 500px;
    height: 80%;
}


#containerModal{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(17, auto);  
    gap: 15px; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

#postPublicationContainer {
    display: grid;

    place-items: center;       
    height: 100vh;
}

