/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegura que el body use todo el tamaño */
html, body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(10, 10, 10);
}

/* Contenedor de los cards */
#cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    padding: 10px;
}

/* Card */
.cards {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    color: white;
}
