/* ChatPage.css */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#chatPageContainer{
    display: flex;         
    height: 100vh;         
}

header {
    width: 100%;
    height: 10%;          
    position: fixed;       
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    z-index: 10;
}

#chatSideBarContainer{
    width: 30%;
    height: 89%;         
    background-color: brown;
    display: flex;
    flex-direction: column;  
    overflow-y: auto;        
    box-sizing: border-box;
    padding: 10px;
}


#chatSideBarContainer{
    margin-top: 70px;
}

#chatContainer {
    display: flex;
    flex-direction: column; 
    height: 100%;           
    width: 100%;
    background-color: red;   
    box-sizing: border-box;
}

#messagesList {
    flex: 1;                
    overflow-y: auto;       
    padding: 10px;
}

#mesageInputContainer {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}